# Slickedit stuff
*.vpwhistu
*.vtg

# IntelliJ stuff
*.iml
.idea/

# SBT / Gradle
.gradle/
build/
target/
project/project/target/

# Other
.DS_Store
out/

derby.log
project/META-INF/
src/main/scala/META-INF/

# hive
metastore_db/
